<nav class="nav">
    <div class="nav_left">
        <p>SYDNEY OLIVER</p>
    </div>
    <div class="nav_right">
        <ul>
            <li class="nav_bar">HOME</li>
            <li class="nav_bar">ABOUT</li>
            <li class="nav_bar">PORTFOLIO</li>
            <li class="nav_bar">CLIENTS</li>
            <li class="nav_bar">CONTACT</li>
        </ul>
    </div>
  </nav>