<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="./main.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <!--<style rel="stylesheet" href="./app.css"></style>-->
  <title>My Project</title>
</head>
<body>

    {{> partials/nav }}
    {{> partials/firstpart }}

 <!-- <div class="box" id='comment-box'></div>
  <input type='text' class="comment" placeholder="Add new comment" id="new-comment"></input>
  <input type="button" value="Submit" onclick="submit()"></input>-->
 
</body>
</html>